<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Islam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- older-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">


    <script rel="script" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--end older-->

    <!--[if lt IE 9]-->
    <script src="{{ url_for('static',filename='index/js/html5.js') }}"></script>
    <!--[endif]-->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/style.css') }}">


    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static',filename='index/css/superfish.css') }}">
    <!-- ENDS superfish -->

    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/lessframework.css') }}">

    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/skin.css') }}">

    <style>
        #names_tbody tr {
            margin: 5px;
        }

        #names_tbody tr td {
            display: inline-block;
            padding: 20px;
        }

        tr .name {
            font-size: 43px;
        }

        #calendar_tbody {
            max-height: 100px;
        }

        #calendar_tbody tr {
            display: block;
            margin: 5px;
        }

        #calendar_tbody tr td {
            text-align: center;
            padding: 6px;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div class="wrapper clearfix" style="height: 43px; float: left;">
        <span id="nav_span" onclick="openNav()">&#9776;</span>

        <nav style="float: left; margin: 13px 13px 0 40px;">
            <ul id="nav" class="sf-menu">
                <li class="current-menu-item"><a href="{{ url_for('home') }}" style="">Home</a></li>
                <li><a href="{{ url_for('quran') }}">Quran</a></li>
                <li><a href="{{ url_for('surah', surah_number=1) }}">Surah</a></li>
            </ul>
            <div id="combo-holder">
            </div>
        </nav>
    </div>

    <div id="mySidenav" class="sidenav clearfix">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('home') }}" style="">Home</a>
        <a href="{{ url_for('quran') }}">Quran</a>
        <a href="{{ url_for('surah', surah_number=1) }}">Surah</a>
    </div>

</header>

<div id="main" align="center">
    <div style="margin: 10px;">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="float: left;">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">
                        <h5>Namaz Time</h5>
                    </th>
                </tr>
                <!--
                <tr>
                    <th colspan="2">
                        <select class="form-control" id="method_select_id"
                                onchange="selected_method_namaztime(this);">
                            <option value="-1">Method</option>
                            <option value="0">Shia Ithna-Ansari</option>
                            <option value="1">University of Islamic Sciences, Karachi</option>
                            <option value="2">Islamic Society of North America</option>
                            <option value="3" selected>Muslim World League</option>
                            <option value="4">Umm Al-Qura University, Makkah</option>
                            <option value="5">Egyptian General Authority of Survey</option>
                            <option value="7">Institute of Geophysics, University of Tehran</option>
                            <option value="8">Gulf Region</option>
                            <option value="9">Kuwait</option>
                            <option value="10">Qatar</option>
                            <option value="11">Majlis Ugama Islam Singapura, Singapore</option>
                            <option value="12">Union Organization islamic de France</option>
                            <option value="13">Diyanet İşleri Başkanlığı, Turkey</option>
                            <option value="14">Spiritual Administration of Muslims of Russia</option>
                        </select>
                    </th>
                </tr>
                -->
                <tr>
                    <th colspan="2">
                        <select class="form-control" id="select_address_id"
                                onchange="selected_address_namaztime()">
                            <option>Device Location</option>
                        </select>
                    </th>
                </tr>
                </thead>
                <tbody id="namaz_time_tbody_id">
                <tr>
                    <td class="Imsak">Imsak</td>
                </tr>
                <tr>
                    <td class="Fajr">Fajr</td>
                </tr>
                <tr>
                    <td class="Sunrise">Sunrise</td>
                </tr>
                <tr>
                    <td class="Dhuhr">Dhuhr</td>
                </tr>
                <tr>
                    <td class="Asr">Asr</td>
                </tr>
                <tr>
                    <td class="Maghrib">Maghrib</td>
                </tr>
                <tr>
                    <td class="Sunset">Sunset</td>
                </tr>
                <tr>
                    <td class="Isha">Isha</td>
                </tr>
                <tr>
                    <td class="Midnight">Midnight</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="float: right;">
            <table class="table">
                <tbody id="calendar_tbody">

                </tbody>
            </table>
        </div>


        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="5">
                        <h5>Allah's Names</h5>
                    </th>
                </tr>
                </thead>
                <tbody id="names_tbody">
                <tr>
                    {% for item in names %}
                        <td id="{{ item.No }}" style="background-color: transparent;" data-toggle="tooltip" title="{{ item['Meaning(En)'] }}">
                            <div class="name">{{ item.Ar_name }}</div>
                            <div class="ar_pronunciation">{{ item.Ar_transliteration }}</div>
                            <div class="pronunciation">{{ item.Pronunciation }}</div>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
<script rel="script" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>


<script rel="script">
    $(document).ready(function () {
        var address = $('#select_address_id option:selected').html();

        if (address === "Device Location" || !address) {
            show_namaz_time_by_device_location();
        } else {
            show_namaz_time_by_address(address);
        }

        get_addresses_from_db();
        ////////////////////////////////////////

        get_arabic_calender();

        $('[data-toggle="tooltip"]').tooltip();
    });

    function openNav() {
        document.getElementById("mySidenav").style.width = "178px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.body.style.backgroundColor = "#e5e5e5";
    }

    function get_addresses_from_db() {
        $('#select_address_id').select2({
            minimumInputLength: 3,
            ajax: {
                url: 'get_addresses_from_db',
                dataType: 'json',
            }
        });
    }

    function selected_address_namaztime() {
        var address = $("#select_address_id option:selected").html();

        show_namaz_time_by_address(address)
    }


    function show_namaz_time_by_device_location() {
        $.ajax({
            url: "{{ url_for('get_namaztime_by_device_location') }}",
            type: 'GET',
            success: function (data) {
                $(".namaztime_value").remove();

                $(".time").after('<td class="namaztime_value">' + data[1].address + '</td>');

                $(".Imsak").after('<td class="namaztime_value">' + data[0].Imsak + '</td>');
                $(".Fajr").after('<td class="namaztime_value">' + data[0].Fajr + '</td>');
                $(".Sunrise").after('<td class="namaztime_value">' + data[0].Sunrise + '</td>');
                $(".Dhuhr").after('<td class="namaztime_value">' + data[0].Dhuhr + '</td>');
                $(".Asr").after('<td class="namaztime_value">' + data[0].Asr + '</td>');
                $(".Maghrib").after('<td class="namaztime_value">' + data[0].Maghrib + '</td>');
                $(".Sunset").after('<td class="namaztime_value">' + data[0].Sunset + '</td>');
                $(".Isha").after('<td class="namaztime_value">' + data[0].Isha + '</td>');
                $(".Midnight").after('<td class="namaztime_value">' + data[0].Midnight + '</td>');
            }
        });
    }

    function show_namaz_time_by_address(address) {
        $(".time").after('<td class="namaztime_value">' + address + '</td>');

        $.ajax({
            url: "get_namaz_time_by_address/" + address,
            type: 'GET',
            success: function (data) {
                $(".namaztime_value").remove();

                $(".time").after('<td class="namaztime_value">' + data[1].address + '</td>');

                $(".Imsak").after('<td class="namaztime_value">' + data[0].Imsak + '</td>');
                $(".Fajr").after('<td class="namaztime_value">' + data[0].Fajr + '</td>');
                $(".Sunrise").after('<td class="namaztime_value">' + data[0].Sunrise + '</td>');
                $(".Dhuhr").after('<td class="namaztime_value">' + data[0].Dhuhr + '</td>');
                $(".Asr").after('<td class="namaztime_value">' + data[0].Asr + '</td>');
                $(".Maghrib").after('<td class="namaztime_value">' + data[0].Maghrib + '</td>');
                $(".Sunset").after('<td class="namaztime_value">' + data[0].Sunset + '</td>');
                $(".Isha").after('<td class="namaztime_value">' + data[0].Isha + '</td>');
                $(".Midnight").after('<td class="namaztime_value">' + data[0].Midnight + '</td>');
            }
        });
    }


    /////////////////////////////////////////////////////////////////


    function get_arabic_calender() {
        $.ajax({
            url: "{{ url_for('get_arabic_calender') }}",
            type: 'GET',
            success: function (data) {
                var html = "";

                html += '<tr valign="top">' +
                    '<td bgcolor="#aaa" height="auto" width="20%">' +
                    '<b>' + data.gregorian.day + '</b><br/>' + data.gregorian.weekday["en"].substring(0, 3) + '<br/>'
                    + data.gregorian.year + '<br/></td>' +
                    '<td bgcolor="#b5dcb3" height="auto" width="80%">' + data.hijri['date'] +
                    '<br>' + data.hijri.month["en"] +
                    '<br><span style="color:red;">' + data.hijri['holidays'].join(',') + '</span></td></tr>'

                $('#calendar_tbody').html(html);
            }
        });
    }


</script>
