<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Islam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- older-->
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">


    <script rel="script" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--end older-->

    <!--[if lt IE 9]-->
    <script src="{{ url_for('static',filename='index/js/html5.js') }}"></script>
    <!--[endif]-->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/style.css') }}">


    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static',filename='index/css/superfish.css') }}">
    <!-- ENDS superfish -->

    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/lessframework.css') }}">

    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/skin.css') }}">
    <style>

    </style>
</head>
<body>
<header class="clearfix">
    <div class="wrapper clearfix" style="height: 43px; float: left;">
        <span id="nav_span" onclick="openNav()">&#9776;</span>

        <nav style="float: left; margin: 13px 13px 0 40px;">
            <ul id="nav" class="sf-menu">
                <li><a href="{{ url_for('home') }}" style="">Home</a></li>
                <li class="current-menu-item"><a href="{{ url_for('quran') }}">Quran</a></li>
                <li><a href="{{ url_for('surah', surah_number=1) }}">Surah</a></li>
            </ul>
        </nav>
    </div>

    <div id="mySidenav" class="sidenav clearfix">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('home') }}" style="">Home</a>
        <a href="{{ url_for('quran') }}">Quran</a>
        <a href="{{ url_for('surah', surah_number=1) }}">Surah</a>
    </div>

</header>
<!-- MAIN -->
<div id="main">
    <div class="wrapper">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"
                 style="padding: 0 15px; height: 28px; float: left;">
                <form action="" autocomplete="off">
                    <input id="surah_search_Input" name="search" type="text" onkeyup="surahSearchFunction()"
                           placeholder="Search for surah...">
                    <input value="Rechercher" type="submit">
                </form>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: right;">
                <select class="form-control" id="quran_sort_id"
                        onchange="get_selected_quran_sort(this);">
                    <option value="-1">Sort by</option>
                    <option value="0">Traditional Order</option>
                    <option value="1">According To Revelation</option>
                    <option value="2">Desc Surah Name</option>
                    <option value="3">Desc Surah Total Ayah</option>
                    <option value="4">Asc Surah Total Ayah</option>
                    <option value="5">Meccan Surah</option>
                    <option value="7">Medinan Surah</option>
                </select>
            </div>

        </div>
        <!-- slider holder -->
        <div id="slider-holder" class="clearfix">
            <div class="flexslider">
                <!-- slider -->
                <div style="background: white;">
                    <div>
                        <table id="quran_table" class="table">
                            <thead>
                            <tr>
                                <th colspan="2" style="padding: 7px; font-size: 32px;">Surah</th>
                            </tr>
                            </thead>
                            <tbody id="quran_tbody">

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ENDS slider -->
            </div>
        </div>
        <!-- ENDS slider holder -->
    </div>
</div>    <!-- ENDS MAIN -->
<footer>
    <div class="wrapper">
    </div>
</footer>
</body>
</html>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
<script rel="script" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

<script rel="script">
    $(document).ready(function (e) {
        var quran_sort_id = sessionStorage.getItem("quran_sort_id");

        if (quran_sort_id) {
            $('#quran_sort_id').val(quran_sort_id);

        } else {
            $('#quran_sort_id').val("0");
            sessionStorage.setItem("quran_sort_id", "0");
        }

        var x = $("#quran_sort_id option:selected").html();

        $.ajax({
            url: "{{ url_for('get_quran_by_sort') }}",
            type: 'GET',
            data: {sort_by: x},
            success: function (data) {
                $('.sample_surah_info_tr').remove();
                var html = "";
                for ([key, value] of Object.entries(data)) {
                    html += '<tr class="sample_surah_info_tr" style="font-size: 28px;">' +
                        '<td onclick="get_surah(' + value.surah_number + ',' + value.total_ayah + ');">' + value.surah_number + '. ' + value.surah_ar_name +
                        '<br>' + value.surah_en_name + '( ' + value.surah_en_name_translation + ' )' + '( ' + value.total_ayah + ' )' +
                        '<br>' + value.revelation_type + '<br><span style="color: red;">' + value.note + '</span></td></tr>';
                }
                $('#quran_tbody').html(html);
            }
        });

        $("#quran_sort_id").select2();
    });

    function openNav() {
        document.getElementById("mySidenav").style.width = "178px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.body.style.backgroundColor = "#e5e5e5";
    }

    function get_surah(surah_number, surah_total_ayah) {
        sessionStorage.setItem("current_surah_number", surah_number);
        sessionStorage.setItem("current_surah_total_ayah", surah_total_ayah);
        window.open('/surah/' + surah_number, '_self');
    }

    function surahSearchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("surah_search_Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("quran_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function get_selected_quran_sort(sel_val) {
        var sel_value = sel_val.value;
        sessionStorage.setItem("quran_sort_id", sel_value);
        $('#quran_sort_id').val(sel_value);

        var x = $("#quran_sort_id option:selected").html();

        $.ajax({
            url: "{{ url_for('get_quran_by_sort') }}",
            type: 'GET',
            data: {sort_by: x},
            success: function (data) {
                $('.sample_surah_info_tr').remove();
                var html = "";
                for ([key, value] of Object.entries(data)) {
                    html += '<tr class="sample_surah_info_tr" style="font-size: 28px;">' +
                        '<td onclick="get_surah(' + value.surah_number + ');">' + value.surah_number + '. ' + value.surah_ar_name +
                        '<br>' + value.surah_en_name + '( ' + value.surah_en_name_translation + ' )' + '( ' + value.total_ayah + ' )' +
                        '<br>' + value.revelation_type + '</td></tr>';
                }
                $('#quran_tbody').html(html);
            }
        });
    }
</script>

