<!doctype html>
<html class="" lang="en">
<head>
    <title>Islam</title>
    <meta charset="utf-8">
    <!-- older-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/fontawesome.css') }}">


    <script rel="script" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--end older-->

    <!--[if lt IE 9]><script src="{{ url_for('static',filename='indexjs/html5.js')}}"></script><![endif]-->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JS -->
    <script src="{{ url_for('static',filename='index/js/css3-mediaqueries.js') }}"></script>
    <script src="{{ url_for('static',filename='index/js/custom.js') }}"></script>
    <script src="{{ url_for('static',filename='index/js/tabs.js') }}"></script>

    <!-- Tweet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='index/css/jquery.tweet.css') }}" media="all">
    <!-- ENDS Tweet -->
    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static',filename='index/css/superfish.css') }}">
    <script src="{{ url_for('static',filename='index/js/superfish-1.4.8/js/hoverIntent.js') }}"></script>
    <script src="{{ url_for('static',filename='index/js/superfish-1.4.8/js/superfish.js') }}"></script>
    <script src="{{ url_for('static',filename='index/js/superfish-1.4.8/js/supersubs.js') }}"></script>
    <!-- ENDS superfish -->
    <!-- prettyPhoto -->
    <script src="{{ url_for('static',filename='index/js/prettyPhoto/js/jquery.prettyPhoto.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='index/js/prettyPhoto/css/prettyPhoto.css') }}"
          media="screen">
    <!-- ENDS prettyPhoto -->
    <!-- poshytip -->
    <link rel="stylesheet"
          href="{{ url_for('static',filename='index/js/poshytip-1.1/src/tip-twitter/tip-twitter.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='index/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css') }}">
    <!-- ENDS poshytip -->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>
    <!-- Flex Slider -->
    <link rel="stylesheet" href="{{ url_for('static',filename='index/css/flexslider.css') }}">
    <script src="{{ url_for('static',filename='index/js/jquery.flexslider-min.js') }}"></script>
    <!-- ENDS Flex Slider -->
    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/lessframework.css') }}">
    <!-- modernizr -->
    <script src="{{ url_for('static',filename='index/js/modernizr.js') }}"></script>
    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/skin.css') }}">
</head>
<body>
<header class="clearfix">
    <!-- top widget -->
    <div id="top-widget-holder">
        <div class="wrapper">
            <div id="top-widget">
                <div class="padding">
                    <ul class="widget-cols clearfix">
                        <li class="first-col">
                            <div class="widget-block">
                                <h4>Recent posts</h4>
                                <div class="recent-post"><img
                                        src="{{ url_for('static',filename='images/books.jpg') }}"
                                        style="background-color:white; width: 54px; height: 54px;">
                                    <div class="post-head"><a
                                            href="{{ url_for('quran') }}">Books</a><span>last updated: March 12, 2011</span>
                                    </div>
                                </div>
                                <div class="recent-post"><a href="#" class="thumb">
                                    <img src="{{ url_for('static',filename='index/img/dummies/54x54.gif') }}"
                                         alt=""></a>
                                    <div class="post-head"><a href="#">Pellentesque habitant morbi
                                        senectus</a><span> March 12, 2011</span>
                                    </div>
                                </div>
                                <div class="recent-post"><a href="#" class="thumb"><img
                                        src="{{ url_for('static',filename='index/img/dummies/54x54.gif') }}" alt=""></a>
                                    <div class="post-head"><a href="#">Pellentesque habitant morbi
                                        senectus</a><span> March 12, 2011</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="second-col">
                            <div class="widget-block">
                                <h4>Dummy text</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                    turpis
                                    egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies
                                    mi
                                    vitae est. Mauris placerat eleifend leo.</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                            </div>
                        </li>
                        <li class="third-col">
                            <div class="widget-block">
                                <h4>Dummy text</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                    turpis
                                    egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies
                                    mi
                                    vitae est. Mauris placerat eleifend leo.</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                            </div>
                        </li>
                        <li class="fourth-col">
                            <div class="widget-block">
                                <h4>Dummy text</h4>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                    turpis
                                    egestas. Vestibulum tortor quam, feugiat vitae, ultricies ege. Aenean ultricies
                                    mi
                                    vitae est. Mauris placerat eleifend leo.</p>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" id="top-open">Menu</a></div>
    <!-- ENDS top-widget -->
    <div class="wrapper clearfix" style="height: 43px; float: left;">
        <span style="font-size:23px;cursor:pointer;float: left;margin: 10px; color: white;"
              onclick="openNav()">&#9776;</span>
        <nav style="float: left; margin: 13px 13px 0 40px;">
            <ul id="nav" class="sf-menu">
                <li><a href="{{ url_for('home') }}" style="">Home</a></li>
                <li><a href="{{ url_for('quran') }}">Quran</a>
                    <ul>
                        <li class="current-menu-item"><a href="{{ url_for("surah", surah_number= 1) }}">Surah</a></li>
                    </ul>
                </li>
            </ul>

            <div id="combo-holder">
            </div>
        </nav>

    </div>

    <div id="mySidenav" class="sidenav clearfix">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="javascript:void(0)">Language</a>
        <div id="languageDiv" style="display: block;">
            <div class="col-lg-12">
                <div class="col-lg-12" style="padding: 7px;">
                    <select class="form-control" name="states[]" id="arabic_language_id"
                            style="min-width: 120px;" onchange="ar_language_select(this)" multiple>
                        <option>Arabic</option>
                    </select>
                </div>

                <div class="col-lg-12" style="padding: 7px;">
                    <select class="form-control" name="states[]" id="language_id"
                            style="min-width: 120px;" onchange="language_select(this)" multiple>
                    </select>
                </div>

                <div class="col-lg-12" style="padding: 7px;">
                    <select class="form-control" name="states[]" id="language_translator_id"
                            style="min-width: 120px;"
                            onchange="translator_select(this)" multiple>
                    </select>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" style="text-decoration: none;">Audio</a>
        <div id="audioDiv">
            <div class="col-lg-12">
                <div class="col-lg-12" style="padding: 7px;">
                    <select id="audio_select_id" class="form-control" style="min-width: 120px;" name="state"
                            onchange="audio_select(this)">
                    </select>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- MAIN -->
<div id="main">
    <button class="round_button" id="top_scrolling_button"
            style="display: none; color: black; left: 2px; bottom: 19px;"
            onclick="scrollingToTopFunction()" title="Top">▲
    </button>
    <div class="wrapper">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2"
                 style="padding: 0; margin: 0 6px 0 0;">
                <select class="form-control" id="surah_id" onchange="get_surah()">
                </select>
            </div>

            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding: 0; margin: 0 6px;">
                <select class="form-control" id="ayah_number_id" onchange="get_ayah(this); return false;">
                </select>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
                 style="padding: 0; margin: 0 6px;">
                <select class="form-control" id="language_id_on_main">
                </select>
            </div>


            <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5"
                 style="padding: 0; height: 28px; margin: 0 0 0 6px; float: right;">
                <form action="" autocomplete="off">
                    <input name="search" type="text" placeholder="What're we looking for ?">
                    <input id="search_submit" value="Rechercher" type="submit">
                </form>
            </div>
        </div>
        <!-- slider holder -->
        <div id="slider-holder" class="clearfix">
            <!-- slider -->
            <div class="flexslider">
                <div id="surahDiv" style="padding: 50px;" onclick="closeNav()">
                    <table class="table" id="surah_table" style="margin-left: 7px;">
                        <thead>
                        <tr>
                            <th style="font-size: 25px; padding: 7px; text-align: center;">
                                {{ sample_surah[0].surah_number }} . {{ sample_surah[0].surah_ar_name }}
                                <br>
                                {{ sample_surah[0].surah_en_name }} ( {{ sample_surah[0].surah_en_name_translation }} )
                                ( {{ sample_surah.__len__() }} )
                                <br>
                                {{ sample_surah[0].revelation_type }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="">
                            <td style="direction: rtl; border: none; font-size: 32px; padding: 7px; text-align: center; color: brown;">{{ bismillah_auzubillah[0].text }}</td>
                        </tr>
                        {% if sample_surah[0].surah_en_name != "At-Tawba" %}
                            <tr>
                                <td style="direction: rtl; border: none; font-size: 32px; padding: 7px; text-align: center; color: brown;">{{ bismillah_auzubillah[1].text }}</td>
                            </tr>
                        {% endif %}

                        {% for item in sample_surah %}
                            <tr id="ayah_tr" style="padding: 7px; margin: 20px;">
                                <td class="ayah_td" id="ayah_{{ loop.index }}">
                                    <div id="ayah_div_{{ loop.index }}"> {{ loop.index }} . {{ item.text }} &#1758;
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ENDS slider -->
        </div>
        <!-- ENDS slider holder -->
    </div>


</div>    <!-- ENDS MAIN -->
<footer>

</footer>
</body>
</html>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
<script rel="script" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script rel="script" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        sessionStorage.setItem("surah", "{{sample_surah[0].surah_number}}.{{sample_surah[0].surah_en_name}}");
        var selectedAudio = sessionStorage.getItem("audio_vocal");
        if (!selectedAudio) {
            sessionStorage.setItem("audio_vocal", "Alafasy");
        }

        $('#arabic_language_id').select2({placeholder: "default"});
        $('#language_id').select2({placeholder: "Language"});
        $("#language_id_on_main").select2({placeholder: "Language"});
        $('#language_translator_id').select2({placeholder: "Translator"});
        $('#audio_select_id').select2({placeholder: "Not Selected"});
        $('#surah_id').select2();
        $('#ayah_number_id').select2({placeholder:"Ayah"});

        get_surah_lang();
        get_surah_audio_vocal();
        quran_info();
        get_audio(sessionStorage.getItem("audio_vocal"));
    });

    function quran_info() {
        $.ajax({
            url: "/get_quran",
            type: 'GET',
            success: function (data) {
                html = "";
                for ([key, value] of Object.entries(data)) {
                    var surah = sessionStorage.getItem("surah");
                    if (key === surah) {
                        html += '<option value="' + value + '" selected>' + key + '</option>';
                        var num_html = "<option></option>";
                        for (let i = 1; i <= value; i++) {
                            num_html += '<option style="text-align: center;">' + i + '</option>';
                        }
                        $('#ayah_number_id').html(num_html);
                    } else {
                        html += '<option value="' + value + '">' + key + '</option>';
                    }
                }
                $('#surah_id').html(html)
            }
        })
    }

    function get_surah_lang() {
        $.ajax({
            url: "{{ url_for('get_surah_text_lang') }}",
            type: 'POST',
            success: function (data) {
                let ar_html = '<option></option>';
                let translator_html = '<option></option>';
                let lang_html = '<option></option>';
                let main_lang_html = '<option></option>';

                for ([key, value] of Object.entries(data)) {
                    if (key === "Arabic") {
                        for (ar_translator of value) {
                            var ar_name = sessionStorage.getItem("ar_name");
                            if (ar_translator === ar_name) {
                                ar_html += '<option selected>' + ar_translator + '</option>'
                            } else {
                                ar_html += '<option>' + ar_translator + '</option>'
                            }
                        }
                    } else {
                        var lang = sessionStorage.getItem("lang");

                        if (key === lang) {
                            lang_html += '<option selected>' + key + '</option>';
                            main_lang_html += '<option selected>' + key + '</option>';
                            for (translator of value) {
                                var traslator_name = sessionStorage.getItem("traslator_name");
                                if (translator === traslator_name) {
                                    translator_html += '<option selected>' + translator + '</option>';
                                    $('#language_translator_id').html(translator_html).change();
                                } else {
                                    translator_html += '<option>' + translator + '</option>';
                                }
                                $('#language_translator_id').html(translator_html);
                            }
                        } else {
                            lang_html += '<option>' + key + '</option>';
                            main_lang_html += '<option>' + key + '</option>';
                        }
                    }
                }
                $('#arabic_language_id').html(ar_html);
                $('#language_id').html(lang_html);
                $("#language_id_on_main").html(main_lang_html);
            }
        });
    }

    function get_surah_audio_vocal() {
        $.ajax({
            url: "{{ url_for('get_surah_audio') }}",
            type: 'POST',
            success: function (data) {
                let audio_html = '<option></option>';

                for ([key, value] of Object.entries(data)) {
                    for (item of value) {
                        var quran_audio = sessionStorage.getItem("audio_vocal");
                        if (item === quran_audio) {
                            audio_html += '<option selected>' + item + '</option>'
                        } else {
                            if (item === "Alafasy") {
                                audio_html += '<option selected>' + item + '</option>'
                            } else {
                                audio_html += '<option>' + item + '</option>'
                            }
                        }
                    }
                }
                $('#audio_select_id').html(audio_html);
            }
        });
    }

    function language_select(selected_lang) {
        var lang = selected_lang.value;

        sessionStorage.setItem("lang", lang);
        $.ajax({
            url: "{{ url_for('get_translator') }}",
            type: 'GET',
            data: {"lang": lang},
            success: function (data) {
                let html = '';
                for (let i = 0; i < data.length; i++) {
                    html += '<option>' + data[i] + '</option>';
                }
                $('#language_translator_id').html(html).change()
            }
        })
    }

    function translator_select(transalator) {
        var traslator_name = transalator.value;
        var ar_name = sessionStorage.getItem("ar_name");
        sessionStorage.setItem("traslator_name", traslator_name);
        $('trans_div').remove();
        $.ajax({
            url: "/surah/{{sample_surah[0].surah_number}}/" + ar_name + "/" + traslator_name,
            type: 'GET',
            success: function (data) {
                for ([key, value] of Object.entries(data)) {
                    let i = 1 + parseInt(key);
                    $('#ayah_div_' + i).after('<div id="trans_div_'+i+'" style="margin: 5px; color: darkgreen;"><p id="translated_p"' +
                        'style="float: right; direction: ltr;border: none; font-size: x-large; padding: 7px; text-align: right;">' +
                        value + '</p></div>');
                }
            }
        })
    }

    function ar_language_select(ar_name) {
        var arname = ar_name.value;
        if (arname !== "") {
            sessionStorage.setItem("ar_name", arname);
            window.open('/surah/{{sample_surah[0].surah_number}}/' + arname, '_self');
        } else {
            sessionStorage.setItem("ar_name", "Uthamani");
            window.open('/surah/' + surah_number, '_self');
        }
    }

    function audio_select(selected_audio) {
        var selectedAudio = selected_audio.value;
        sessionStorage.setItem("audio_vocal", selectedAudio);
        var ayah_number = sessionStorage.getItem("ayah_number");
        get_audio(selectedAudio);
    }

    function get_audio(selectedAudio = "Alafasy") {
        $("#surah_ayah_audio_div_id audio").remove();
        $.ajax({
            url: '/audio/{{sample_surah[0].surah_number}}/' + selectedAudio,
            type: 'GET',
            success: function (data) {
                for ([key, value] of Object.entries(data)) {
                    let i = 1 + parseInt(key);
                    $('#ayah_div_' + i).after('<div id="surah_ayah_audio_div_id">' +
                        '<audio controls style="">' +
                        '<source src="https://cdn.islamic.network/quran/audio/64/' + key + '/' + value[i - 1] + '.mp3" type="audio/mpeg">' +
                        '</audio></div>');
                }
            }
        });
    }

    function change_url(url) {
        if (window.history.replaceState) {
            //prevents browser from storing history with each change
            window.history.replaceState('', '', url);
        }
    }

    function set_query_param(name, value) {
        const url = location.href;
        var re = new RegExp("([?&])" + name + "=.*?(&|$)", "i");
        var separator = url.indexOf('?') !== -1 ? "&" : "?";
        if (url.match(re)) {
            return url.replace(re, '$1' + name + "=" + value + '$2');
        } else {
            return url + separator + name + "=" + value;
        }
    }

    function openNav() {
        document.getElementById("mySidenav").style.width = "178px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.body.style.backgroundColor = "#e5e5e5";
    }

    top_btn = document.getElementById("top_scrolling_button");
    window.onscroll = function () {
        on_scroll_show_btn_Function();
    };

    function on_scroll_show_btn_Function() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 20) {
            (top_btn).style.display = "block";
        } else {
            (top_btn).style.display = "none";
        }
    }

    function scrollingToTopFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function get_surah() {
        var surah = $("#surah_id option:selected").html();
        sessionStorage.setItem("surah", surah);

        var ar_name = sessionStorage.getItem("ar_name");
        if (ar_name) {
            sessionStorage.setItem("ar_name", ar_name);
            window.open('/surah/' + surah.split(".")[0], '_self');
        } else {
            sessionStorage.setItem("ar_name", "Uthamani");
            window.open('/surah/' + surah[0], '_self');
        }
    }

    function get_ayah(ayah_number) {
        var ayah_num = ayah_number.value;
        sessionStorage.setItem("ayah_number", ayah_num);
        selectedAudio = sessionStorage.getItem("audio_vocal");
        if (selectedAudio) {
            get_audio(selectedAudio);
        } else {
            get_audio()
        }
        var elmnt = $('#ayah_' + ayah_num).find('div');
        scroll_to(document.documentElement, elmnt)
    }

    function scroll_to(scroll_container, scroll_to_elem, animate_delay = 5, offset = 0) {
        const $container = $(scroll_container);
        const $scrollTo = $(scroll_to_elem);
        if ($scrollTo.length) {
            $container.animate({
                scrollTop: ($scrollTo.offset().top - $container.offset().top + $container.scrollTop()) + (offset)
            }, animate_delay)
        }
    }

    function ayahSearchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("ayah_search_Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("surah_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


</script>


