<!doctype html>
<html class="" lang="en">
<head>
    <title>Islam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- older-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">


    <script rel="script" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
    <script rel="script" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!--end older-->

    <!--[if lt IE 9]-->
    <script src="{{ url_for('static',filename='index/js/html5.js') }}"></script>
    <!--[endif]-->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/style.css') }}">


    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="{{ url_for('static',filename='index/css/superfish.css') }}">
    <!-- ENDS superfish -->

    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/lessframework.css') }}">

    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="{{ url_for('static',filename='index/css/skin.css') }}">

    <style>
        th {
            font-size: 25px;
            padding: 40px;
            text-align: center;
        }

        tr {
            padding: 7px;
            margin: 20px;
            background-color: white;
        }

        td {
            width: 100%;
            padding: 40px;
        }

        td div:first-child {
            color: darkgreen;
            font-size: larger;
        }

        td div {
            padding: 16px;
        }
    </style>
</head>
<body>
<header class="clearfix">
    <div class="wrapper clearfix" style="height: 43px; float: left;">
        <span id="nav_span" onclick="openNav()">&#9776;</span>
        <nav style="float: left; margin: 13px 13px 0 40px;">
            <ul id="nav" class="sf-menu">
                <li><a href="{{ url_for('home') }}" style="">Home</a></li>
                <li><a href="{{ url_for('quran') }}">Quran</a></li>
                <li><a href="{{ url_for('surah', surah_number=1) }}">Surah</a></li>
            </ul>
            <div id="combo-holder">
            </div>
        </nav>
    </div>

    <div id="mySidenav" class="sidenav clearfix">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('home') }}" style="">Home</a>
        <a href="{{ url_for('quran') }}">Quran</a>
        <a href="{{ url_for('surah', surah_number=1) }}">Surah</a>
    </div>

</header>
<!-- MAIN -->
<div id="main">
    <div class="wrapper">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2"
                 style="padding: 0; margin: 6px;">
                <select class="form-control" id="surah_id" onchange="get_surah(this)">
                </select>
            </div>

            <div class="col-xs-5 col-sm-1 col-md-1 col-lg-1" style="padding: 0; margin: 6px;">
                <select class="form-control" id="ayah_number_id" onchange="get_ayah(this);">

                </select>
            </div>

            <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2"
                 style="padding: 0; margin: 6px;">
                <select class="form-control" id="trans_language_id" onchange="get_trans_language();">
                    <!--   <option value="Sherif Ahmeti">Albanian</option>
                       <option value="Uthamani">Arabic</option>
                       <option value="Məmmədəliyev & Bünyadov">Azerbaijani</option>
                       <option value="মুহিউদ্দীন খান">Bangla</option>
                       <option value="Korkut">Bosnian</option>
                       <option value="Теофанов">Bulgarian</option>
                       <option value="Ma Jian">Chinese</option>
                       <option value="Nykl">Czech</option>
                       <option value="Keyzer">Dutch</option>
                       <option value="Ahmed Raza Khan">English</option>
                       <option value="Hamidullah">French</option>
                       <option value="Bubenheim & Elyas">German</option>
                       <option value="Gumi">Hausa</option>
                       <option value="फ़ारूक़ ख़ान & नदवी">Hindi</option>
                       <option value="Bahasa Indonesia">Indonesian</option>
                       <option value="Piccardo">Italian</option>
                       <option value="Korkut">Japanese</option>
                       <option value="Korkut">Bosnian</option>
                       <option value="Korkut">Bosnian</option>
                       <option value="Korkut">Bosnian</option>
                       <option value="Korkut">Bosnian</option>
                       <option value="Korkut">Bosnian</option>
                       <option value="Korkut">Bosnian</option>
   -->
                </select>
            </div>
            <!--
                        <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6"
                             style="padding: 0; height: 28px; float: right;">
                            <form action="" autocomplete="off">
                                <input id="surah_search_Input" name="search" type="text" onkeyup="surahSearchFunction()"
                                       placeholder="Search for surah...">
                                <input value="Rechercher" type="submit">
                            </form>
                        </div>
            -->
        </div>


        <div id="slider-holder" class="clearfix">
            <!-- slider -->
            <div class="flexslider">
                <div id="surahDiv" onclick="closeNav()" style="margin: auto;">
                    <table class="table" id="surah_table">
                        <thead>
                        {% if  sample_surah.length != 0 %}
                            <th style="font-size: 25px; padding: 40px; text-align: center;">
                                {{ sample_surah[0].surah_number }} . {{ sample_surah[0].surah_ar_name }}
                                <br>
                                {{ sample_surah[0].surah_en_name }}
                                ( {{ sample_surah[0].surah_en_name_translation }} )
                                ( {{ sample_surah.__len__() }} )
                                <br>
                                {{ sample_surah[0].revelation_type }}
                            </th>
                        {% endif %}

                        </thead>
                        <tbody>
                        <tr id="bismi_auzu_tr_id">
                            <td id="bismi_auzu_td_id" style="padding: 40px;">
                                أعوذ بالله من الشيطان الرجيم
                                <br>بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ
                            </td>
                        </tr>
                        {% for item in sample_surah %}
                            <tr class="ayah_tr_class" style="padding: 7px; margin: 20px 5px;">
                                <td class="ayah_td" id="ayah_{{ loop.index }}" style="padding: 40px;">
                                    <div class="ayah_div_{{ loop.index }}"> {{ loop.index }} . {{ item.text }}
                                        &#1758;</span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- ENDS slider -->
        </div>

        <!-- ENDS slider holder -->
    </div>


</div>    <!-- ENDS MAIN -->
<footer>

</footer>
</body>
</html>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
<script rel="script" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script rel="script" href="{{ url_for('static', filename='js/main.js') }}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#surah_id').select2({placeholder: "Surah"});
        $('#ayah_number_id').select2({placeholder: "Ayah"});
        $("#trans_language_id").select2({placeholder: "Language"});


        fill_surah();
        fill_language();

        $("#trans_language_id").select2({matcher: modelMatcher});
    });

    function modelMatcher(params, data) {
        data.parentText = data.parentText || "";

        // Always return the object if there is nothing to compare
        if ($.trim(params.term) === '') {
            return data;
        }

        // Do a recursive check for options with children
        if (data.children && data.children.length > 0) {
            // Clone the data object if there are children
            // This is required as we modify the object to remove any non-matches
            var match = $.extend(true, {}, data);

            // Check each child of the option
            for (var c = data.children.length - 1; c >= 0; c--) {
                var child = data.children[c];
                child.parentText += data.parentText + " " + data.text;

                var matches = modelMatcher(params, child);

                // If there wasn't a match, remove the object in the array
                if (matches == null) {
                    match.children.splice(c, 1);
                }
            }

            // If any children matched, return the new object
            if (match.children.length > 0) {
                return match;
            }

            // If there were no matching children, check just the plain object
            return modelMatcher(params, match);
        }

        // If the typed-in term matches the text of this term, or the text from any
        // parent term, then it's a match.
        var original = (data.parentText + ' ' + data.text).toUpperCase();
        var term = params.term.toUpperCase();


        // Check if the text contains the term
        if (original.indexOf(term) > -1) {
            return data;
        }

        // If it doesn't contain the term, don't return anything
        return null;
    }


    function fill_surah() {
        $.ajax({
            url: "{{ url_for('fill_surah') }}",
            type: 'GET',
            success: function (data) {
                $('.surah_name_opt').remove();
                var html = "";

                for ([key, value] of Object.entries(data)) {
                    html += '<option class="surah_name_opt" value="' + value.surah_number + '.' + value.total_ayah + '" style="font-size: 28px;">' +
                        value.surah_number + '. ' + value.surah_en_name + '</option>';
                }
                $('#surah_id').html(html);

                var last_part = $(location).attr("href").split('/').pop();
                var x = "1.7";
                if (last_part != 1) {
                    x = sessionStorage.getItem("current_surah_number") + "." + sessionStorage.getItem("current_surah_total_ayah");
                }
                $("#surah_id").val(x);
                fill_ayah_number(x.split('.')[1]);

                var x = $("#surah_id option:selected").html().split('.')[0];
                sessionStorage.setItem("current_surah_number", x);
            }
        });
    }

    function fill_ayah_number(total_ayah) {
        $('.surah_ayah_opt').remove();
        var html = "";
        for (var x = 1; x <= total_ayah; x++) {
            html += '<option class="surah_ayah_opt" value="' + x + '" style="font-size: 28px;">' +
                x + '</option>';
        }
        $('#ayah_number_id').html(html);
    }

    function fill_language() {
        $.ajax({
            url: "{{ url_for('fill_trans_language') }}",
            type: 'GET',
            success: function (data) {
                $('.trans_language_opt').remove();
                var html = "";
                var html1 = "'<option selected>Select Language</option>'";

                for ([key, value] of Object.entries(data[0])) {
                    if (key != "Arabic") {
                        for (item in value) {
                            html += '<option class="trans_language_opt" value="' + value[item].file_name + '" style="font-size: 28px;">' +
                                value[item].transelator_en_name + '</option>';
                        }
                        html1 += '<optgroup label="' + key + '">' + html + '</optgroup>'
                        html = "";
                    }
                }
                $('#trans_language_id').html(html1);

                var x = sessionStorage.getItem("trans_language");
                $("#surah_id").val(x);
            }
        });
    }

    function openNav() {
        document.getElementById("mySidenav").style.width = "178px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.body.style.backgroundColor = "#e5e5e5";
    }

    function ayahSearchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("ayah_search_Input");
        filter = input.value.toUpperCase();
        table = document.getElementById("surah_table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function get_surah(e) {
        var surah = e.value;
        sessionStorage.setItem("current_surah_number", surah.split('.')[0]);
        sessionStorage.setItem("current_surah_total_ayah", surah.split('.')[1]);
        fill_ayah_number(parseInt(surah.split('.')[1]));

        $.ajax({
            url: "{{ url_for('get_surah_ar') }}",
            data: {"surah_number": parseInt(sessionStorage.getItem("current_surah_number"))},
            type: 'GET',
            success: function (data) {
                data = JSON.parse(data);

                $('.ayah_tr_class').remove();
                var html = "";

                $('th').remove();

                $('thead').html('<tr><th style="padding: 40px;">' +
                    surah.split('.')[0] + '. ' + data[0].surah_ar_name +
                    '<br>' + data['0'].surah_en_name + '( ' + data[0].surah_en_name_translation + ' )' +
                    '( ' + data.length + ' ) ' + ' <br> ' + data[0].revelation_type + '</th></tr>');

                for ([key, value] of Object.entries(data)) {
                    var x = parseInt(key) + 1;

                    html += '<tr class="ayah_tr_class">' +
                        '<td class="ayah_td" style="padding: 40px">' +
                        '<div class="ayah_div_' + x + '"> ' + x + ' .' + value['text'] +
                        '&#1758;</span></div></td></tr>';
                }
                $('#bismi_auzu_tr_id').after(html);
                get_trans_language();
            }
        });

    }

    function get_ayah(ayah_number) {
        var ayah_num = (parseInt(ayah_number.value) - 1).toString();
        if (ayah_num != "0") {
            var elmnt = $('.ayah_div_' + ayah_num);
            scroll_to(elmnt)
        }
    }

    function scroll_to(scroll_to_elem, animate_delay = 5, offset = 0) {
        $([document.documentElement, document.body]).animate({
            scrollTop: scroll_to_elem.offset().top
        }, 200);
    }

    function get_trans_language() {
        $.ajax({
            url: "{{ url_for('get_surah_trans') }}",
            data: {
                "file_name": $('#trans_language_id option:selected')[0].value,
                "surah_number": sessionStorage.getItem("current_surah_number")
            },
            type: 'GET',
            success: function (data) {
                data = JSON.parse(data);

                for ([key, value] of Object.entries(data)) {
                    var x = parseInt(key) + 1;
                    $('.ayah_div_' + x).after('<div class="trans_ayah_div' + x + '" style="font-size: 28px;">' +
                        value['text'] + '</div>');
                }
            }
        });
    }


</script>
